@font-face {
    font-family: robotoThin;
    src: url(/assets/fonts/Roboto-Thin.ttf);
}
@font-face {
    font-family: roboto;
    src: url(/assets/fonts/Roboto-Regular.ttf);
}

body {
    background-color: #4545ff;
    width: 300px;
}

h2 {
    font-family: robotoThin;
    
}
h1{
    font-family: roboto; 
}
h2, h1 {
    color: yellow;
    text-align: center;
}

img{
    width: 100px;
    height: 100px;
}

.fact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}